.logo {
  color: $primary-text-color;
  font-family: $font-family;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.web-logo {
  color: $accent-color;
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-wite {
  color: $primacy-white-color;
  font-family: $font-family;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
